<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <a href="/">Back</a>
    <h1>this is Register</h1>
    <div class="wrapper">
        <div class="form">
            <form action="/register" method="POST">
                <!-- <input type="text" name="username" placeholder="Type your username"> -->
                <input type="text" name="email" placeholder="Type your email">
                <input type="text" name="password" placeholder="Type your password">
                <!-- <input type="text" placeholder="Retype your password"> -->
                <button>REGISTER</button>
            </form>
            <a href="/login">Have account ? Login</a>
        </div>
    </div>
</body>
</html>