<div class="navbar">
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/flavors">FLAVORS</a></li>
    <li><a href="/register">REGISTER</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li>
      <% if( user ) { %>
      <h1>Hi: <%= user.username %></h1>
      <%} else { %>
      <h1><%='' %></h1>
      <% } %>
    </li>

    <button><a href="/logout">logout</a></button>
  </ul>
</div>
